body{
    font-family: Arial;
    box-sizing: border-box;
}
.navigation{
   background-color: rgb(17, 3, 54); 
   color: white;
   position: relative;
}

.navbar-list{
    display:flex;

}
.nav-item{
    list-style-type: none;
}
.nav-item a{
    height:1rem;
    padding:
}