*{
   box-sizing: border-box;
   margin: 0;
  padding: 0;
  font-family: Arial, sans-serif
  
}
.navbar{
    background-color: rgba(49, 4, 70, 0.884);
    display: flex;
    padding: 1em 1rem;
    position: relative;
    align-items: center;
}
.logo{
    font-size: 1.5em;
    font: bold;
    color: #ffffff;
}
.menu-toggle{
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.navbar-list{
  display:flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: space-between;
}

.nav-item a{
  display: block;
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 1.5rem;
  transition: background 0.3s ease;
}
.float
.nav-item a:hover:not(.active) {
   background-color: #646363;
   border-radius: 0.5rem;
}
@media  (max-width:768px)  {
    
}