body{
    font-family: Arial;
    box-sizing: border-box;
}
.navigation{
   background-color: rgb(17, 3, 54); 
   color: white;
   position: relative;
}
.navbar{
    
}
.nav-list{
    display:
}
.nav-item{
    list-style-type: none;
}